In [1]:
import pandas as pd

df = pd.read_csv('Students_exams.csv')
df.info()
df.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 4 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   gender         1000 non-null   object
 1   math score     1000 non-null   int64
 2   reading score  1000 non-null   int64
 3   writing score  1000 non-null   int64
dtypes: int64(3), object(1)
memory usage: 31.4+ KB

   gender  math score  reading score  writing score
0  female          72             72             74
1  female          69             90             88
2  female          90             95             93
3    male          47             57             44
4    male          76             78             75

In [2]:
m = df['reading score'].count()
print('count =', m)

count = 1000

In [3]:
m = df['reading score'].sum()
print('sum =', m)

sum = 69169

In [4]:
m = df['reading score'].mean()
print('mean =', m)

mean = 69.169

In [5]:
m = df['reading score'].median()
print('median =', m)

median = 70.0

In [6]:
m = df['reading score'].min()
print('min =', m)

min = 17

In [7]:
m = df['reading score'].max()
print('max =', m)

max = 100

In [8]:
# quantile(0.5) = median
m = df['reading score'].quantile(0.5)
print('count =', m)

count = 70.0

In [9]:
m = df['reading score'].quantile(0.25)
print('count =', m)

count = 59.0

In [10]:
m = df['reading score'].quantile(0.75)
print('count =', m)

count = 79.0