In [1]:
import pandas as pd

df = pd.read_csv('Students_exams.csv')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 4 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   gender         1000 non-null   object
 1   math score     1000 non-null   int64
 2   reading score  1000 non-null   int64
 3   writing score  1000 non-null   int64
dtypes: int64(3), object(1)
memory usage: 31.4+ KB

In [2]:
df.rename(columns={
    'math score': 'math_score',
    'reading score': 'reading_score',
    'writing score': 'writing_score'
},inplace= True)

In [3]:
statics_df = pd.DataFrame(columns=['statics','math','reading','writing'])

In [4]:
x = df['math_score'].count()
y = df['reading_score'].count()
z = df['writing_score'].count()

row = {'statics':'count', 'math': x, 'reading':y, 'writing':z}
#statics_df = statics_df.append(row, ignore_index= True)
statics_df  = pd.concat([statics_df, pd.DataFrame.from_records([row])], ignore_index = True)

In [5]:
x = df['math_score'].sum()
y = df['reading_score'].sum()
z = df['writing_score'].sum()

row = {'statics':'sum', 'math': x, 'reading':y, 'writing':z}
statics_df  = pd.concat([statics_df, pd.DataFrame.from_records([row])], ignore_index = True)

In [6]:
x = df['math_score'].mean()
y = df['reading_score'].mean()
z = df['writing_score'].mean()

row = {'statics':'mean', 'math': x, 'reading':y, 'writing':z}
statics_df  = pd.concat([statics_df, pd.DataFrame.from_records([row])], ignore_index = True)

In [7]:
x = df['math_score'].median()
y = df['reading_score'].median()
z = df['writing_score'].median()

row = {'statics':'median', 'math': x, 'reading':y, 'writing':z}
statics_df  = pd.concat([statics_df, pd.DataFrame.from_records([row])], ignore_index = True)

In [8]:
x = df['math_score'].mode()[]
y = df['reading_score'].mode()
z = df['writing_score'].mode()

row = {'statics':'mode', 'math': x, 'reading':y, 'writing':z}
statics_df  = pd.concat([statics_df, pd.DataFrame.from_records([row])], ignore_index = True)

In [9]:
x = df['math_score'].min()
y = df['reading_score'].min()
z = df['writing_score'].min()

row = {'statics':'min', 'math': x, 'reading':y, 'writing':z}
statics_df  = pd.concat([statics_df, pd.DataFrame.from_records([row])], ignore_index = True)

In [10]:
x = df['math_score'].max()
y = df['reading_score'].max()
z = df['writing_score'].max()

row = {'statics':'max', 'math': x, 'reading':y, 'writing':z}
statics_df  = pd.concat([statics_df, pd.DataFrame.from_records([row])], ignore_index = True)

In [11]:
x = df['math_score'].std()
y = df['reading_score'].std()
z = df['writing_score'].std()

row = {'statics':'std', 'math': x, 'reading':y, 'writing':z}
statics_df  = pd.concat([statics_df, pd.DataFrame.from_records([row])], ignore_index = True)

In [12]:
statics_df

,statics,math,reading,writing
0,count,1000,1000,1000
1,sum,66089,69169,68054
2,mead,66.089,69.169,68.054
3,median,66.0,70.0,69.0
4,mode,"0 65 Name: math_score, dtype: int64","0 72 Name: reading_score, dtype: int64","0 74 Name: writing_score, dtype: int64"
5,min,0,17,10
6,max,100,100,100
7,std,15.16308,14.600192,15.195657