In [3]:
import pandas as pd

df = pd.read_csv('stdMarks.csv')

df.info()
df.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Id      10 non-null     int64
 1   Math    10 non-null     int64
 2   Phy     10 non-null     int64
 3   Lang    10 non-null     int64
 4   Pass    10 non-null     object
dtypes: int64(4), object(1)
memory usage: 532.0+ bytes

   Id  Math  Phy  Lang Pass
0   1    30   40    80   No
1   2    60   65    45  Yes
2   3    35   40    70   No
3   4    70   75    50  Yes
4   5    80   80    40  Yes

In [5]:
corelation_df = df[['Math','Phy','Lang']]

corelation = corelation_df.corr(method='pearson')

corelation

          Math       Phy      Lang
Math  1.000000  0.970892 -0.328193
Phy   0.970892  1.000000 -0.386725
Lang -0.328193 -0.386725  1.000000

In [6]:
corelation = corelation_df.corr(method='spearman')

corelation

          Math       Phy      Lang
Math  1.000000  0.849325 -0.224616
Phy   0.849325  1.000000 -0.381797
Lang -0.224616 -0.381797  1.000000

In [7]:
corelation = corelation_df.corr(method='kendall')

corelation

          Math       Phy      Lang
Math  1.000000  0.756999 -0.141186
Phy   0.756999  1.000000 -0.296500
Lang -0.141186 -0.296500  1.000000