In [14]:
import pandas as pd
df = pd.read_csv('Students_exams_cols_cleanup.csv')
df.head()

   Gender  Math Score  Reading Score  Writing Score
0  female          72             72             74
1  female          69             90             88
2  female          90             95             93
3    male          47             57             44
4    male          76             78             75

In [15]:
df.columns

Index(['Gender', 'Math Score', 'Reading Score', 'Writing Score'], dtype='object')

In [16]:
df.columns = [col.lower() for col in df.columns ]

In [17]:
df.head()

   gender  math score  reading score  writing score
0  female          72             72             74
1  female          69             90             88
2  female          90             95             93
3    male          47             57             44
4    male          76             78             75

In [18]:
df.rename(columns={
    'math score':'math_score',
    'reading score':'reading_score',
    'writing score':'writing_score'
}, inplace=True)

In [ ]:
df.head()